<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Form report</h5>
                        <small class="text-muted float-end">ID:
                            {{report._id}}</small>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/report/edit?id={{report._id}}">
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" class="form-control" id="basic-default-fullname"
                                    value="{{report.email}}" name="email" readonly />
                                <label for="basic-default-fullname">Email</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" class="form-control" id="basic-default-company"
                                    value="{{report.phone}}" name="phone" readonly />
                                <label for="basic-default-company">Phone</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" class="form-control" id="basic-default-company"
                                    value="{{report.address}}" name="address" readonly />
                                <label for="basic-default-company">Address</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" class="form-control" id="basic-default-company"
                                    value="{{report.place.type}}" name="place" readonly />
                                <label for="basic-default-company">Place</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" class="form-control" id="basic-default-company"
                                    value="{{report.ads.type}}" name="ward" readonly />
                                <label for="basic-default-company">ADS</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input class="form-control" type="datetime-local" id="html5-datetime-local-input"
                                    value="{{report.created_at}}" name="created_at" readonly />
                                <label for="html5-datetime-local-input">Date</label>
                            </div>

                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" class="form-control" id="basic-default-company"
                                    value="{{report.solution}}" name="solution" />
                                <label for="basic-default-company">Solution</label>
                            </div>

                            <div class="row row-bordered g-0">
                                <div class="col-md p-4">
                                    <small class="text-light fw-medium">Status</small>
                                    <div class="form-check">
                                        <input name="status" class="form-check-input" type="radio" value="Confirm"
                                            id="defaultRadio2" {{#if (eq report.status 'Confirm' )}}checked{{/if}} />
                                        <label class="form-check-label" for="defaultRadio2"> Confirm
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="Process" name="status"
                                            id="disabledRadio1" {{#if (eq report.status 'Process' )}}checked{{/if}} />
                                        <label class="form-check-label" for="disabledRadio1"> Process
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="Success" name="status"
                                            id="disabledRadio2" {{#if (eq report.status 'Success' )}}checked{{/if}} />
                                        <label class="form-check-label" for="disabledRadio2"> Success
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">
                                Edit
                            </button>
                            <button type="button" onclick="window.history.back();" class="btn btn-secondary">
                                Back
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Merged -->
        </div>
    </div>
    <!-- / Content -->