<div class="layout-overlay layout-menu-toggle"></div>
</div>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">Tables /</span> Basic Tables
        </h4>



        <!-- Basic Bootstrap Table -->
        <div class="card">
            <h5 class="card-header">Danh sách quận</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each districts}}
                        <tr>
                            <td>
                                <i class="mdi mdi-basketball mdi-20px text-info me-3"></i><span
                                    class="fw-medium">{{_id}}</span>
                            </td>
                            <td>{{name}}</td>


                            <td style="text-align: end;">
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </button>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/cb/viewWard?id={{this._id}}"><i
                                                class="mdi mdi-view-array-outline me-1"></i>
                                            View ward</a>
                                        <a class="dropdown-item" href="/cb/editDistrict?id={{this._id}}"><i
                                                class="mdi mdi-pencil-outline me-1"></i>
                                            Edit</a>
                                        <a class="dropdown-item" href="/cb/deleteDistrict?id={{this._id}}"><i
                                                class="mdi mdi-trash-can-outline me-1"></i>
                                            Delete</a>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
        <button onclick=" document.getElementById('map').classList.toggle('active')" style="margin-top: 12px;"
            class="btn btn-warning">Hiện maps</button>
        <button onclick="window.location.href='/cb/create-district'" style="margin-top: 12px;"
            class="btn btn-primary">Thêm Quận</button>
        <button onclick="window.location.href='/cb/create-ward'" style="margin-top: 12px;" class="btn btn-primary">Thêm
            Phường</button>
        <button onclick="window.location.href='/ads/view'" style="margin-top: 12px;" class="btn btn-info">Các loại
            bảng quảng cáo</button>



        <div id="map" style="margin-top: 12px;"></div>

    </div>

    <script>

        $(document).ready(async function () {
            var map = L.map("map")
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                map.setView([lat, lon], 13);
            });

            L.tileLayer(
                "https://{s}.tile.thunderforest.com/atlas/{z}/{x}/{y}.png?apikey=a1cb0032c1264a8d9a88251c4866a2c3",
                {
                    attribution: "&copy; OpenStreetMap contributors, &copy; Thunderforest",
                    apikey: "a1cb0032c1264a8d9a88251c4866a2c3",
                }
            ).addTo(map);

        });

    </script>