<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">View/</span> Place advertising signs
        </h4>

        <!-- Basic Bootstrap Table -->
        {{#if (eq "admin" role)}}
        <div class="demo-inline-spacing" style="text-align: right;">
            <a href="/place/create">
                <button type="button" class="btn btn-outline-primary">
                    Create
                </button>
            </a>
        </div>
        <br>
        {{/if}}
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Long</th>
                            <th>Lat</th>
                            <th>Type</th>
                            <th>Advertising signs</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each placeAds}}
                        <tr>

                            <td>
                                <span class="fw-medium">{{this.address}}</span>
                            </td>
                            <td>{{this.long}}</td>
                            <td>{{this.lat}}</td>
                            <td>{{this.type}}</td>
                            <td>{{this.ads.type}}</td>
                            <td>
                                <span class="badge rounded-pill bg-label-primary me-1">Active</span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </button>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/place/form?id={{this._id}}"><i
                                                class="mdi mdi-pencil-outline me-1"></i>
                                            View/Edit</a>

                                        {{#if (eq "admin" ../role)}}
                                        <a class="dropdown-item" href="/place/delete?id={{this._id}}"><i
                                                class="mdi mdi-trash-can-outline me-1"></i>
                                            Delete</a>
                                        {{/if}}
                                    </div>

                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <hr class="my-3" />

            </div>
            <div class="card-body">
                <div class="row">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-outline-primary">
                            {{#each pages}}
                            <li class="page-item">
                                <a class="page-link" href="/place/view?page={{this}}">{{this}}</a>
                            </li>
                            {{/each}}

                        </ul>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" style="pointer-events: none;" href="javascript:void(0);">Total
                                    page:
                                    {{totalPage}}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <button onclick="window.history.back()" class="btn btn-secondary">Back</button>
        </div>