<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Form advertising sign</h5>
                        <small class="text-muted float-end">ID:
                            {{advertisement._id}}</small>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/ads/edit?id={{advertisement._id}}" enctype="multipart/form-data">
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" class="form-control" id="basic-default-fullname"
                                    value="{{advertisement.type}}" name="type" />
                                <label for="basic-default-fullname">Type</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input type="text" class="form-control" id="basic-default-company"
                                    value="{{advertisement.height}}" name="height" />
                                <label for="basic-default-company">Height</label>
                            </div>
                            <div class="mb-4">
                                <div class="input-group input-group-merge">
                                    <div class="form-floating form-floating-outline">
                                        <input type="text" id="basic-default-email" class="form-control"
                                            value="{{advertisement.width}}" aria-label="john.doe"
                                            aria-describedby="basic-default-email2" name="width" />
                                        <label for="basic-default-email">Width</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input class="form-control" type="datetime-local" id="html5-datetime-local-input"
                                    value="{{advertisement.start_date}}" name="start_date" />
                                <label for="html5-datetime-local-input">Start date</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input class="form-control" type="datetime-local" id="html5-datetime-local-input"
                                    value="{{advertisement.end_date}}" name="end_date" />
                                <label for="html5-datetime-local-input">End date</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <textarea id="basic-default-message" class="form-control" style="height: 60px"
                                    name="content">{{advertisement.content}}</textarea>
                                <label for="basic-default-message">Content</label>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Default file
                                    input example</label>
                                <input class="form-control" type="file" id="formFile" name="image" multiple />
                            </div>
                            <div class="mb-3">
                                <img id="ad_img" src="{{advertisement.urlImg}}" alt="image" width="200px"
                                    height="200px">
                            </div>
                            {{#if (eq "admin" role)}}
                            <button type="submit" class="btn btn-primary">
                                Edit
                            </button>
                            {{/if}}
                            <button onclick="window.location.href='/ads/view'" type="button" class="btn btn-secondary">
                                Back
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('formFile').addEventListener('change', function (event) {
            const files = event.target.files;
            if (files.length > 0) {
                const newImageUrl = URL.createObjectURL(files[0]);
                document.getElementById('ad_img').src = newImageUrl;
            }
        });

    </script>