<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">View/</span> Place advertising signs
        </h4>

        <!-- Basic Bootstrap Table -->
        {{#if (eq "admin" role)}}
            <div class="demo-inline-spacing" style="text-align: right;">
                <a href="/licensing/create">
                    <button type="button" class="btn btn-outline-primary">
                        Create
                    </button>
                </a>
            </div>
            <br>
        {{/if}}
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Lon</th>
                            <th>Lat</th>
                            <th>Type</th>
                            <th>Advertising signs</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each licensing}}
                            <tr>

                                <td>
                                    <span class="fw-medium">{{this.address}}</span>
                                </td>
                                <td>{{this.lon}}</td>
                                <td>{{this.lat}}</td>
                                <td>{{this.type}}</td>
                                <td>
                                    <span class="dropdown-item">{{this.typeAds}}</span>
                                </td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                            class="avatar avatar-xl pull-up">
                                            <img src="{{this.urlImg}}" alt="Image" />
                                    </ul>
                                </td>
                                <td>
                                    {{#if this.active}}
                                        <span class="badge rounded-pill bg-label-success me-1">Approved</span>
                                    {{else }}
                                        <span class="badge rounded-pill bg-label-primary me-1">Not approved yet</span>
                                    {{/if}}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </button>

                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/licensing/form?id={{this._id}}"><i
                                                    class="mdi mdi-view-agenda me-1"></i>
                                                View</a>
                                            {{#if this.active}}
                                            {{else}}
                                                <a class="dropdown-item" href="/licensing/delete?id={{this._id}}"><i
                                                        class="mdi mdi-trash-can-outline me-1"></i>
                                                    Delete</a>
                                            {{/if}}
                                            {{#if (eq "admin" ../role)}}
                                                {{#if this.active}}
                                                {{else}}
                                                    <a class="dropdown-item"
                                                        href="/licensing/approved?id={{this._id}}"><i
                                                            class="mdi mdi-check-decagram me-1"></i>
                                                        Approved</a>
                                                {{/if}}
                                            {{/if}}
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <hr class="my-3" />

            </div>
            <div class="card-body">
                <div class="row">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-outline-primary">
                            {{#each pages}}
                                <li class="page-item">
                                    <a class="page-link" href="/licensing/view?page={{this}}">{{this}}</a>
                                </li>
                            {{/each}}

                        </ul>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" style="pointer-events: none;" href="javascript:void(0);">Total
                                    page:
                                    {{totalPage}}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <button onclick="window.history.back()" class="btn btn-secondary">Back</button>
        </div>